Flask
Flask-SQLAlchemy
Flask-Cors
Flask-Limiter
Flask-Mail
Werkzeug

PyJWT
pyotp
bcrypt
email-validator
cryptography

python-dotenv
requests
beautifulsoup4
qrcode
Pillow
reportlab
mysqlclient

numpy==1.26.4
pandas
scipy
scikit-learn==1.2.2
imbalanced-learn==0.10.1
joblib
xgboost

apscheduler

tldextract
